@{
}

<div>
	<form asp-controller="Shop" asp-action="AddCategory">
		<label>Name</label>
		<input type="text" name="Name" />
		<button type="submit" asp-action="AddCategory">Add Category</button>
	</form>
</div>