@model GetCategoryViewModel
@{
}
<div>
	<form asp-controller="Shop" asp-action="AddProduct">
		<label>Name</label>
		<input type="text" name="Name" />
		<label>Description</label>
		<input type="text" name="Description" />
		<label>Price</label>
		<input type="number" name="Price" />
		<select asp-for="Category" asp-items="" class="form-control">
			<option value=""></option>
		</select>
		<button type="submit" asp-action="AddProduct">Add Product</button>
	</form>
</div>